// Place all the styles related to the LandingPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$primary-color: #14213d;
$secondary-color: #ffffff;
$red: #d62828;
$line-height: 2.5;

.wrapper {
  display: grid;
  grid-template-rows: 1fr 2fr;
  height: 100vh;
}

section.hero {
  background-color: $primary-color;
  display: grid;
  justify-items: center;
  align-items: center;

  .content {
    h3 {
      font-weight: 300;
      color: #ffffff;
      margin-bottom: 1rem;
      text-align: center;
    }
  }

  .form {
    place-self: center;
    display: grid;

    form {
      display: inline-grid;
      grid-template-columns: repeat(3, 1fr) 5.4rem;
      column-gap: 0rem;
      row-gap: 0rem;

      input {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
          0 1px 2px 0 rgba(0, 0, 0, 0.06);
        line-height: $line-height;
        padding: 0.5rem 0.75rem;
        border: none;
      }

      .form-group {
        &:first-child {
          input {
            border-bottom-left-radius: 0.25rem;
            border-top-left-radius: 0.25rem;
          }
        }
      }

      button {
        padding: 0.5rem 1rem;
        font-weight: 700;
        cursor: pointer;
        border: none;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        line-height: $line-height;

        .loader {
          display: inline;
          padding-left: 0.3rem;
        }
      }
    }
  }
}

main {
  background-color: $secondary-color;
}

.user-list {
  overflow-y: scroll;

  section {
    width: 60vw;
    margin: 4rem auto;

    header {
      text-align: center;
      margin-bottom: 3rem;
    }

    article {
      h2 {
        text-align: center;
        margin-top: 5rem;
        font-weight: 300;
      }
    }

    .card {
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
      border-radius: 0.25rem;
      padding: 1rem 1.5rem;
      margin-bottom: 1rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      .info {
        h3 {
          font-weight: 300;
        }

        p {
          font-weight: 700;
        }
      }
    }
  }

  .loader {
    text-align: center;
    margin-top: 10rem;
  }
}

.even {
  background-color: #f7fafc;
}

.error {
  color: $red;
  margin-top: 1rem;
  display: block;
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: unset;
    grid-template-rows: 22rem 1fr;
  }

  section.hero {
    .content {
      width: 95vw;

      .form {
        form {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          row-gap: 0.3rem;

          input {
            padding: 0.3rem 0.25rem;
            width: 100%;
          }

          .form-group {
            &:first-child {
              input {
                border-bottom-left-radius: 0rem;
                border-top-left-radius: 0rem;
              }
            }
          }

          button {
            padding: 0.3rem 1.25rem;
            width: 100%;
            border-radius: 0;
          }
        }
      }
    }
  }

  .user-list {
    section {
      width: 95vw;

      .card {
        grid-template-columns: repeat(1, 1fr);

        .info {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
